main {
    background-color:rgb(27, 26, 26);
    color:white;
    }  
     
.card {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-content: center;
}
.flex-container {
    background-color: black;
}
.default-ltr-cache-1d568uk {
    fill: red;
}
.faq {
    text-align: center;
}
